@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #1f2937;
  --poke-red: #ef4444;
  --poke-red-dark: #dc2626;
  --poke-blue: #3b82f6;
  --poke-blue-light: #60a5fa;
  --poke-dark: #1f2937;
  --poke-gray: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-poke-red: var(--poke-red);
  --color-poke-red-dark: var(--poke-red-dark);
  --color-poke-blue: var(--poke-blue);
  --color-poke-blue-light: var(--poke-blue-light);
  --color-poke-dark: var(--poke-dark);
  --color-poke-gray: var(--poke-gray);
  
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f3f4f6;
    --poke-gray: #374151;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Utilities for Hide Scrollbar */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
